body {
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    background-color: hsl(229, 57%, 11%);
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 0.8em;
    margin-top: 4px;
    opacity: 75%
}

.main-flex-container {
    justify-content: center;
    display: flex;
    columns: 40% 30% 30%;
    gap: 30px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.flex-item {
    background-color:  hsl(228, 56%, 26%);
}

.flex-item-1 {
    border-radius: 10px 80px 10px 10px;
    padding: 40px;
    min-width: 210px;
    min-height: 120px;
}

.flex-item-2 {
    display: grid;
    border-radius: 10px;
    margin-top: 50px;
    max-height: 70px;
    padding: 40px;
    min-width: 600px;
}

.icon-flex-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.icon-box { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px;
    height: 35px;
    width:40px;
   
}

.flex-item-2 {
    display: grid;
    padding-top: 30px;
    padding-bottom: 60px;
}

.storage-used {
    grid-column-start: 1;
    grid-column-end: 2;
}

.speech-bubble-container {
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 35px;
}

.speech-bubble {
    color: gray;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 80px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    bottom:100px;
    right: -70px;
}

p.speech-bubble:before {
   
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 150px;
    top: 60px;
    border: 25px solid;
    border-color: white white transparent transparent;
  }

.speech-number {
    color: black;
    font-size: 3em;
}

.storage-used-text {
    opacity: 70%;
}

.storage-bar {
    display: flex;
    align-items: center;
    background-color:  hsl(229, 57%, 11%);
    border-radius: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 20px;
    min-width: 400px;
    
}

.storage-bar-level {
    display: flex;
    align-items: center;
    justify-content: right;
    background-image: linear-gradient(to right, rgb(217, 160, 135) , rgb(219, 79, 140));
    border-radius: 30px;
    margin-left: 3px;
    min-height: 14px;
    width: 81.5%;
}

.storage-bar-white-circle {
    background-color: white;
    border-radius: 100%;
    margin-right: 2px;
    min-height: 10px;
    min-width: 10px;
}

.storage-scale-start {
    grid-column-start: 1;
    grid-column-end: 2;
}

.storage-scale-end {
    grid-column-start: 2;
    grid-column-end: 3;
}

.scale-end-number {
    text-align: right;
}

@media (max-width: 1020px) {
    body {
        background-image: url("../images/bg-mobile.png");
        background-repeat: no-repeat;
    }

   .main-flex-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20%;
   }
   .flex-item-1 {
    min-width: 250px;
    max-width: 250px;
   }

   .flex-item-2{
    margin-top: 0;
    min-width: 250px;
    max-width: 250px;
    padding-top: 0;
    padding-bottom: 80px;
   }
   .icon-flex-container {
    gap: 15px;
   }
   .icon-box {
    width: 50px;
    height: 50px;
   }
   .storage-bar {
    min-width: 200px;
    max-width: 200px;
   }
   .storage-used {
    grid-column-start: 1;
    grid-column-end: 3;
}

.speech-bubble-container {
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 0;
}
.speech-bubble {
    bottom: -40px;
    right: -30px;
}
p.speech-bubble::before {
    display: none;
}
}
